@font-face {
  font-family: "Ionicons";
  src: url('/src/view-design/src/styles/common/iconfont/fonts/ionicons.woff2') format("woff2"),
    url('/src/view-design/src/styles/common/iconfont/fonts/ionicons.woff') format("woff"),
    url('/src/view-design/src/styles/common/iconfont/fonts/ionicons.ttf') format("truetype"),
    url('/src/view-design/src/styles/common/iconfont/fonts/ionicons.svg#Ionicons') format("svg");
  font-weight: normal;
  font-style: normal;
}
